* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#grid-container {
  width: 640px; 
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto; 
  justify-content: center;
  align-items: center;
}

.tile {
  background-color: black;
  border: 1px solid red;
  width: 40px;
  height: 40px;
}